/* Reset básico e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    margin-bottom: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    display: inline-block;
    margin: 0 5px;
}

.social-media img {
    width: 30px;
    height: 30px;
}

.header-right {
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    position: relative; 
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav ul li:hover a {
    background-color: #004d99;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content li a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: #ddd;
}

/* Dropdown aparece ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block; 
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-column {
    width: 22%;
}

.footer-column h3 {
    color: blue;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-contact {
    text-align: center;
}

.footer-contact p {
    margin-bottom: 10px;
}

/* Estilo do banner com degradê */
.banner {
    height: 300px;
    background: linear-gradient(to right, #0066cc, #e0ff00);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.banner-text {
    position: absolute;
    text-align: center;
    font-size: 24px;
}

/* Estilos adicionais para a seção da banner */
.highlight {
    color: yellow; /* Destaca "Vôlei de Praia" em amarelo */
}




   





    
